--extra-index-url https://download.pytorch.org/whl/cpu
uvicorn
watchfiles
fastapi
selenium
selenium-stealth
pandas
webdriver-manager
python-multipart
google-genai
pypdf
python-docx
openpyxl
nltk==3.8.1
textblob==0.17.1
python-dateutil
reportlab
transformers==4.34.0
torch==2.7.1
google-generativeai>=0.8.0
matplotlib>=3.7.0